<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link
      rel="shortcut icon"
      href="<%= webpackConfig.output.publicPath %>favicon.ico"
    />
    <link
      href="<%= webpackConfig.output.publicPath %>static/leaflet.css"
      rel="stylesheet"
    />
    <style>
      * {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="mapOL" style="position: fixed; top: 0; bottom: 0; left: 0; width: 50%"></div>
    <div id="mapL" style="position: fixed; top: 0; bottom: 0; left: 50%; width: 50%"></div>
  </body>
</html>
