<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link
      rel="shortcut icon"
      href="<%= webpackConfig.output.publicPath %>favicon.ico"
    />
    <!-- <script src="https://webapi.amap.com/maps?v=1.4.15&key=64d8d022eef790d40aab5f2182977aa7"></script>
    <script src="https://webapi.amap.com/loca?v=1.3.2&key=64d8d022eef790d40aab5f2182977aa7"></script> -->
    <script src="/static/amap-1.4.15.js?v=1.4.15&key=64d8d022eef790d40aab5f2182977aa7"></script>
    <script src="/static/loca-1.3.2.js?v=1.3.2&key=64d8d022eef790d40aab5f2182977aa7"></script>
  </head>
  <body>
    <div id="container"></div>
  </body>
</html>
